<h1 class="mb-0">
    Bernardo <span class="text-primary">Mielki</span>
</h1>
<div class="subheading mb-5">
    +55 (16) 99624-2622 · <a href="mailto:bernardo_fm@hotmail.com">bernardo_fm@hotmail.com</a>
</div>

<p class="lead">I'm looking forward to this new learning opportunity.</p>
<p class="lead mb-3">For any further discussions, just give me a call!</p>

<div>
    <a href="https://www.linkedin.com/in/bmielki/" class="fa fa-linkedin pt-3"></a>
    <a href="https://github.com/bmielki/" class="fa fa-github pt-3"></a>
</div>
